<div>
    <div input-field>
        <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
        <label>Input label</label>
    </div>

    <div nouislider ng-model="value" min="5" max="300"></div>


    <a class="waves-effect waves-light btn">button</a>

    <div carousel>
        <a class="carousel-item" href="javascript:void(0);"><img src="img/sdn_cover.PNG"></a>
        <a class="carousel-item" href="javascript:void(0);"><img src="img/sdn_cover.PNG"></a>
    </div>

</div>


